@media only screen and (max-width:1200px) {
    .container{
        max-width: 1000px;
    }
    /* header .img img{
        margin-left: 100px;
    } */
} 
@media only screen and (max-width:992px){
    .container{
        max-width: 960px;
    } 
    nav {
        justify-content: space-evenly;
        margin-bottom: 185px;
    }
    header nav .logo img{
        width: 180px;
    }
    header .navbar {
        display: none;
    }
    header nav i {
       display: inline-block !important;
    }

    header .body h1 {
        font-size: 44px;
    }
    header .body input {
        width: 300px;
        height: 38px;
        padding-left: 9px;
    }
    header .body button {
        width: 118px;
        height: 38px;
        font-size: 15px;
    }
    header .body .input{
        padding-bottom: 190px;
    }
    .destination h1{
        font-size: 26px;
        padding-top: 45px;
        margin-bottom: 18px;
    }
    .destination p{
        font-size: 18px;
        margin: 0 0 36px 30px;
    }
    .about-card{
margin-bottom: 20px;
    }
    .about-body{
        padding-bottom: 60px;
        justify-content: space-around;
       flex-wrap: wrap;
    }
  
.about-body .card{
    width: 220px;
    }
    .about-body .picture, .about-body .picture1{
        width: 220px;
        height: 190px;
    }
    .about-body h1 {
        font-size: 13px;
    }
    .about-body .card p{
        width: 150px;
        height: 55px;
    }
} 
@media only screen and (max-width:768px){
    
} 
@media only screen and (max-width:576px){
    
} 
@media only screen and (max-width:450px){
    
} 